extends layout

block content

  h1= title
  - let array=[{"Brand":"e","color":"purple","price":25.4},{"Brand":"d","color":"pink","price":25.4},{"Brand":"r","color":"orange","price":25.4}]
  - let items = results
   div(class="container-fluid")
    div(class="row m-1")
     each item in array
      - let destination = `dispatch(\"/fan/update?id=${item._id}\")`
      div(class="col-sm-4",class="m-l") Brand: #{item.Brand}
      div(class="col-sm-4",class="m-l") color: #{item.color}
      div(class="col-sm-4",class="m-l") price: #{item.price}
        button.btn( class="btn-primary ml-1", onclick= destination) Update



   script.
     function dispatch(path){
       window.location.href=path
     }