extends layout 
 
block content 
  h1= title 
 
  - let kiteid = toShow._id 
  - let kite_Brand = toShow.Brand 
  - let kitecolor = toShow.color 
  - let kiteprice = toShow.price 
  div 
    div.row 
      div(class='kiteAttr mr-3') kite ID is: 
      div #{kiteid} 
    div.row 
      div(class='kiteAttr mr-3') kite Brand is: 
      div #{kite_Brand} 
    div.row 
      div(class='kiteAttr mr-3') kite color is: 
      div #{kitecolor} 
    div.row 
      div(class='kiteAttr mr-3') kite price is: 
      div #{kiteprice}